/* NOTES

Colors:
  light blue: rgb(157, 192, 195);
  dark blue: rgb(9, 97, 104);
  magenta: rgb(152, 30, 96);
 */

@import url('https://fonts.googleapis.com/css?family=Karla:400,700');

/* CREATIVE PROCESS GLOBALS */

h1, h2, h3, p {
  text-align: center;
}

.creative-process {
  width: 90vw;
  margin: 0 auto;
  margin-top: 50px;
}

.creative-process h2 {
  color: rgb(9, 97, 104);
  text-transform: uppercase;
  font-size: 1.25em;
  font-weight: 400;
  letter-spacing: 0.1em;
}

.creative-process h1 {
  color: rgb(152, 30, 96);
  font-size: 2em;
}

.creative-process img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.creative-process h3 {
  color: rgb(152, 30, 96);
}

.creative-process p {
  margin-top: 3vh;
}

/* INTRO SECTION */

.intro p {
  font-size: 1.25em;
}

/* PROCESS STEPS SECTION */

.process-steps {
  margin-top: 50px;
}