/* NOTES

Colors:
  light blue: rgb(157, 192, 195);
  dark blue: rgb(9, 97, 104);
  magenta: rgb(152, 30, 96);
 */

@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700');

/* CREATIVE PROCESS GLOBALS */

h1, h2, h3, p {
  text-align: center;
}

.creative-process {
  width: 90vw;
  margin: 0 auto;
  margin-top: 50px;
}

.creative-process .section-header {
  color: rgb(9, 97, 104);
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.1em;
}

.creative-process img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.creative-process .description {
  margin-top: 3vh;
  font-size: 1.15em;
}

@media only screen and (min-width: 880px) and (max-width: 1319px) {
    .creative-process {
    width: 60vw;
  }
  .creative-process .section-header {
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 1.5em;
  }
  .creative-process .description {
    font-size: 1.15em;
  }
}

@media only screen and (min-width: 1320px) {
    .creative-process {
    width: 40vw;
  }
  .creative-process .section-header {
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 1.5em;
  }
  .creative-process .description {
    font-size: 1.15em;
  }
}

/* INTRO SECTION */

.intro .work-title {
  color: rgb(152, 30, 96);
  font-size: 1.5em;
}

@media only screen and (min-width: 880px) {
  .intro .work-title {
    font-size: 2em;
  }

  .intro .description {
    font-size: 1.5em;
  }
}

/* PROCESS STEPS SECTION */

.process-steps {
  margin-top: 50px;
}

.process-steps .step-header {
  color: rgb(152, 30, 96);
  font-size: 1.65em;
}

/* BACK LINK */

.back-link {
  margin-top: 50px;
  text-align: center;
}

.back-link a {
  color: rgb(152, 30, 96);
  font-style: italic;
  font-size: 1.15em;
}