h1, h2, p {
  text-align: center;
}

p, ul {
  font-size: 2em;
}

.project-header h1, .project-steps h2 {
  color: rgb(152, 30, 96);
}

.project-header h2 {
  font-weight: 600;
  font-style: italic;
}

.step {
  margin-top: 80px;
}

@media only screen and (min-width: 880px) {
  .project-header h1 {
    margin-top: 40px;
    font-size: 42px;
  }
  .ui.stackable.centered.grid.project-steps {
    margin-top: 60px;
  }
  .project-steps h2 {
    font-size: 36px;
  }
  .project-steps p {
    font-size: 16px;
    margin-bottom: 40px;
  }
  .project-steps ul {
    font-size: 16px;
  }
}