h1, h2, p {
  text-align: center;
}

.project-header h1, .project-steps h2 {
  color: rgb(152, 30, 96);
}

.project-header h2 {
  font-weight: 600;
  font-style: italic;
}

.step h2, .next-project {
  margin-top: 40px;
}

.step p {
  margin-bottom: 20px;
}

.next-project {
  text-align: center;
}

.next-project a {
  font-style: italic;
  color: rgb(152, 30, 96);
  font-size: 1.25em;
}

.next-project a:hover {
  color: rgb(227, 227, 255);
}

@media only screen and (min-width: 880px) {
  p, ul, .next-project a {
    font-size: 2em;
  }
  p.copyright {
    font-size: 1em;
  }
  .project-header h1 {
    font-size: 42px;
  }
  .project-steps h2 {
    font-size: 36px;
  }
  .project-steps p {
    font-size: 16px;
  }
  .project-steps ul {
    font-size: 16px;
  }
}