/* NOTES

Colors:
  rich magenta: rgb(152, 30, 96);
  light magenta: rgb(154, 60, 117);
  light blue: rgb(65, 61, 156);
  light green: rgb(61, 156, 126);
  white value: rgb(228, 228, 242);
  black value: rgb(1, 1, 26);
 */

@import url('https://fonts.googleapis.com/css?family=Karla:400,700');

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(228, 228, 242);
  font-family: 'Karla', sans-serif;
}

h1 {
  text-align: center;
  font-size: 2em;
  color: rgb(228, 228, 242);
}

/* HEADER */

header {
  background-color: rgb(1, 1, 26);
  height: 13vh;
}

#logo {
  width: 150px;
  margin-right: 50px;
}

nav .nav-links a {
  visibility: hidden;
}

nav .ui.menu .item {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  color: rgb(228, 228, 242);
}

@media only screen and (min-width: 880px) {
  #logo {
    width: 200px;
  }
  nav .nav-links a {
    visibility: visible;
  }
}

/* HERO SECTION */

.hero-section {
  height: 90vh;
  background-image: url('/images/hero-pic.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.hero-section h1, .hero-section p {
  font-family: 'Karla', sans-serif;
  text-align: center;
}

.hero-section h1 {
  color: rgb(228, 114, 176);
  font-size: 1.5em;
  margin-top: 8px;
}

.hero-section p {
  color: rgb(255, 255, 255);
  font-size: 1.25em;
}

.hero-text {
  background-color: rgba(0, 0, 0, 0.6);
  /* box-shadow: 0px 0px 0.5vh 0.5vh rgba(0, 0, 0, 0.6); */
  padding: 2vh;
  position: absolute;
  bottom: 0;
}

@media only screen and (min-width: 880px) {
  .hero-section {
    margin-top: 100px;
  }
  .hero-section h1, .hero-section p {
    text-align: left;
  }
  .hero-section h1 {
    font-size: 2.5em;
    margin-top: 15px;
  }
  .hero-section p {
    color: rgb(9, 97, 104);
    font-size: 2em;
  }
}

/* PORTFOLIO SECTION */

#portfolio-section {
  padding-bottom: 100px;
  background-color: rgb(65, 61, 156);
}

.triangles-group {
  width: 275px;
  margin: 0 auto;
  padding-right: 25px;
}

@media only screen and (min-width: 440px) and (max-width: 879px) {
  .triangles-group {
    width: 440px;
    margin: 0 auto;
    padding-right: 40px;
  }
}

@media only screen and (min-width: 880px) and (max-width: 1319px) {

}

@media only screen and (min-width: 1320px) {
  .triangles-group {
    width: 1200px;
    padding-right: 0;
  }
  #portfolio-section {
  padding-bottom: 250px;
  }
}

.clearfix {
  clear: both;
}

/* >>>>> TRIANGLE BOX SIZING */

.triangle-box {
  width: 125px;
  height: 125px;
  float: left;
  margin-top: 50px;
}

.triangle-A, .triangle-B {
  width: 125px;
  height: 125px;
  position: relative;
}

@media only screen and (min-width: 440px) and (max-width: 879px) {
  .triangle-box {
    width: 200px;
    height: 200px;
    float: left;
    margin-top: 80px;
  }
  .triangle-A, .triangle-B {
    width: 200px;
    height: 200px;
    position: relative;
  }
}

@media only screen and (min-width: 880px) and (max-width: 1319px) {

}

@media only screen and (min-width: 1320px) {
  .triangle-box {
    width: 400px;
    height: 400px;
    margin-top: 160px;
  }
  .triangle-A, .triangle-B {
    width: 400px;
    height: 400px;
  }
}

/* >>>>> TRIANGLE ROWS */

.tri-three, .tri-five {
  clear: both;
}

@media only screen and (min-width: 440px) and (max-width: 879px) {
  .tri-three, .tri-five {
    clear: both;
  }
}

@media only screen and (min-width: 880px) and (max-width: 1319px) {

}

@media only screen and (min-width: 1320px) {
  .tri-three, .tri-five {
    clear: none;
  }
  .tri-four {
    clear: both;
  }
}

/* >>>>> TRIANGLE PICTURES AND CLIPPING MASKS */

.tri-one .triangle-A {
  background-image: url(../images/portfolio/fishy-06.png);
  background-size: cover;
}

.tri-two .triangle-B {
  background-image: url(../images/portfolio/slider-puzzle-05.png);
  background-size: cover;
}

.tri-three .triangle-A {
  background-image: url(../images/portfolio/saturday-sports-01_down.png);
  background-size: cover;
}

.tri-four .triangle-B {
  background-image: url(../images/portfolio/ap-shards-02_up.png);
  background-size: cover;
}

@media only screen and (min-width: 440px) and (max-width: 879px) {
/*same as above*/
}

@media only screen and (min-width: 880px) and (max-width: 1319px) {

}

@media only screen and (min-width: 1320px) {
  .tri-three .triangle-A {
    background-image: url(../images/portfolio/saturday-sports-01_up.png);
    background-size: cover;
  }

  .tri-four .triangle-B {
    background-image: url(../images/portfolio/ap-shards-02_down.png);
    background-size: cover;
  }
}

.tri-five .triangle-A {
  background-image: url(../images/portfolio/ap-identity-03.png);
  background-size: cover;
}

.tri-six .triangle-B {
  background-image: url(../images/portfolio/pet-store-04.png);
  background-size: cover;
}

/* >>>>> TRIANGLE POSITIONING WITHIN THEIR BOXES */

.tri-one {
  transform: translate(25px, 31px); /* originally 20px, 25px */
}

/*tri-two is not needed*/

.tri-three {
  transform: translate(25px, 0px);
}

.tri-four {
  transform: translate(0px, 31px);
}

.tri-five {
  transform: translate(25px, 31px);
}

/*tri-six is not needed*/

@media only screen and (min-width: 440px) and (max-width: 879px) {
  .tri-one {
    transform: translate(40px, 50px);
  }

  /*tri-two is not needed*/

  .tri-three {
    transform: translate(40px, 0px);
  }

  .tri-four {
    transform: translate(0px, 50px);
  }

  .tri-five {
    transform: translate(40px, 50px);
  }

  /*tri-six is not needed*/
}

@media only screen and (min-width: 880px) and (max-width: 1319px) {

}

@media only screen and (min-width: 1320px) {
  .tri-one {
    transform: translate(80px, 100px);
  }
  /*tri-two is not needed*/
  .tri-three {
    transform: translate(-80px, 100px);
  }
  .tri-four {
    transform: translate(80px, 0px);
  }
  .tri-five {
    transform: translate(0px, 100px);
  }
  .tri-six {
    transform: translate(-80px, 0px);
  }
}

/* DESIGN STRATEGY SECTION */

#design-strategy-section {
  background-color: rgb(61, 156, 126);
  height: 150px;
}

/* SKILL SET SECTION */

#skill-set-section {
  background-color: rgb(154, 60, 117);
  height: 150px;
}

/* CALL TO ACTION */

#call-to-action {
  text-align: center;
  background-color: rgb(65, 61, 156);
}

.call-to-action-content {
  width: 90vw; 
  margin: 0 auto;
   padding: 70px 0; 
}

@media only screen and (min-width: 440px) and (max-width: 879px) {
  .call-to-action-content {
    width: 80vw; 
    margin: 0 auto;
     padding: 120px 0; 
  }
}

@media only screen and (min-width: 880px) and (max-width: 1319px) {

}

@media only screen and (min-width: 1320px) {
  .call-to-action-content {
    width: 50vw; 
     padding: 250px 0; 
  }
}

#call-to-action h1, #call-to-action p {
  font-family: 'Karla', sans-serif;
  color: rgb(228, 228, 242);
}

#call-to-action p {
  font-size: 1.25em;
  margin: 0 auto;
}

#call-to-action h1 {
  margin-top: 50px;
  font-size: 1.25em;
}

@media only screen and (min-width: 440px) and (max-width: 879px) {
/*same as above*/
}

@media only screen and (min-width: 880px) and (max-width: 1319px) {

}

@media only screen and (min-width: 1320px) {
  #call-to-action p {
    font-size: 1.5em;
    margin: 0 auto;
  }
  #call-to-action h1 {
    margin-top: 50px;
    font-size: 2em;
  }
}

#call-to-action .ui.button {
  background-color: rgb(152, 30, 96);
  color: white;
  text-transform: uppercase;
  font-family: 'Karla', sans-serif;
  font-size: 1em;
  margin-top: 25px;
}

@media only screen and (min-width: 880px) {
  #call-to-action .ui.button {
    font-size: 1.5em;
  }
}

/* FOOTER */

footer {
  padding-top: 100px;
  padding-bottom: 20px;
  /*height: 200px;*/
  background-color: rgb(1, 1, 26);
}

.social-media, .copyright {
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
}

.social-media i {
  color: rgb(228, 228, 242);
  font-size: 2em;
  margin-top: 11px;
}

.social-media i.fa-linkedin {
  margin-top: 9px;
}

.circle-icon-bg {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: rgb(152, 30, 96);
  border-radius: 25px;
  margin: 6px;
}

.copyright {
  color: rgb(228, 228, 242);
}

@media only screen and (min-width: 880px) {
  footer {
    padding-top: 200px;
  }
}
